@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="col-md-12">
        <h2>
            Academy 2018 • ASP NET </br>
            HOMEWORK #2 ASP.NET MVC CORE
        </h2>
        <h3>This homework is based on the following data structure:</h3>
        <ul>
            <li>-Users</li>
            <li>---Posts</li>
            <li>-------Comments</li>
            <li> ---Todos</li>
        </ul>
    </div>
    <div class="col-md-12">
        <h2>Список запросов на странице запросы</h2>
        <ul>
            <li>1.Get the number of comments under the posts of a particular user (on id) (list of post-number)</li>
            <li>2.Get a list of comments under the posts of a particular user (on id), where body comment < 50 characters (list of comments)</li>
            <li>3.Get the list (id, name) from the list of todos that are executed for a specific user (by id)</li>
            <li>4.Get a list of users in alphabetical order (ascending) with sorted todo items by length name (descending)</li>
            <li>
                5. Obtain the following structure (pass Post Id to parameters)<br />
                Post
                <br />
                The longest comment of the post
                <br />
                The most liked comment on the post
                <br />
                Number of comments under the post where or 0 likes or text length < 80
            </li>
            <li>
                5. Obtain the following structure (pass User Id to parameters)<br />
                User
                <br />
                Last post by user (by date)
                <br />
                Number of comments under the last post
                <br />
                Number of unfulfilled tasks for the user
                <br />
                The most popular user post (where most of the comments with a text length of more than 80 characters)
                <br />
                The most popular user post (where most of the likes)
            </li>
        </ul>
    </div>
</div>