body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}


.avatar {
    width: 100px;
    height: 100px;
}

.comments {
    background-color: #f5f274;
    border: dashed #061d8b;
}

.float-right {
    float: right;
}

.posts {
    border: dotted #061d8b;
    background-color: #8bf5f8;
    float: right;
    cursor: pointer;
    width: 100%;
}

.todo {
    border: dotted #a069e6;
    background-color: #7cf5c0;
    cursor: pointer;
}

.user {
    border: solid 2px #000000;
    background-color: #e1f6f0;
    margin-bottom: 15px;
    overflow: hidden;
    padding: 10px;
    padding-right: 0 !important;
    padding-left: 0 !important;
}
tr:nth-child(even) {
    background-color: #dddddd;
}

